<div id="sub-link-icon-nav" class="quick-menu" role="complementary">
    
	<ul class="nav navbar-nav">
	{% if include_next_prev %}
		<li {% if not previous_page %}class="disabled"{% endif %}>
			<a rel="next" {% if previous_page %}href="{{ previous_page.url }}"{% endif %}>
				<i class="fa fa-arrow-left"></i>
			</a>
		</li>
		<li class="dropup">
			<a href="#" id="list-up" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				<i class="fa fa-list"></i>
			</a>
			<ul id="sub-link-list" class="dropdown-menu nav" aria-labelledby="list-up">
    		</ul>
		</li>
		<li {% if not next_page %}class="disabled"{% endif %}>
			<a rel="prev" {% if next_page %}href="{{ next_page.url }}"{% endif %}>
				<i class="fa fa-arrow-right"></i>
			</a>
		</li>
	{% endif %}     
	</ul>
</div>